<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Cars Manager</title>
<!--    <link rel="stylesheet" href="cars.css" />  -->
    <link rel="stylesheet" type="text/css" href="cars.css"/>

<!--
    <h2>Autó felvétele:</h2>
    <form th:action="@{/addCar}" th:method="post">
        <label>Típus:
            <input type="text" name="type">
        </label>
        <label>Sebesség:
            <input type="number" name="speed">
        </label>
        <label>Szín:
            <input type="text" name="color">
        </label>
        <button type="submit">Hozzáad</button>
    </form>
-->

    <h2>Autó felvétele:</h2>
    <form th:action="@{/addCar}" th:method="post" th:object="${car}">
        <label>Típus:
<!--            <input type="text" th:field="${car.type}">  -->
            <input type="text" th:field="*{type}">
        </label>
        <label>Sebesség:
<!--            <input type="number" th:field="${car.speed}">  -->
            <input type="number" th:field="*{speed}">
        </label>
        <label>Szín:
<!--            <input type="text" th:field="${car.color}">  -->
            <input type="text" th:field="*{color}">
        </label>
        <button type="submit">Hozzáad</button>
    </form>


<!--
    <style>
        table, th, td {
          border: 1px solid black;
          border-collapse: collapse;
        }
    </style>
-->
</head>
<body>
    <h1 th:text="${title}"></h1>
<!--    <p th:text="${cars}"></p>  -->

<!--
    <ul th:each="car : ${cars}">
        <li th:text="${car}"></li>
    </ul>
-->

<!--
    <ul th:each="car : ${cars}">
        <li>
            <span th:text="${car.type}  "></span>
            <span th:text="${car.speed}  "></span>
            <span th:text="${car.color}  "></span>
        </li>
    </ul>
-->


<!--
    <table>
        <tr>
            <th>Type</th>
            <th>Speed</th>
            <th>Color</th>
        </tr>
        <tr>
            <td>Toyota</td>
            <td>120</td>
            <td>Silver</td>
        </tr>
    </table>
-->


    <h2 th:if="${cars.size() == 0}"> No cars found! </h2>
    <table th:unless="${cars.size() == 0}">
        <tr>
            <th>Type</th>
            <th>Speed</th>
            <th>Color</th>
        </tr>
        <tr th:each="car : ${cars}">
            <td th:text="${car.type}"></td>
            <td th:text="${car.speed}"></td>
            <td th:text="${car.color}"></td>
        </tr>
    </table>

<!--
Az OGNL (Object-Graph Navigation Language) egy nyílt forráskódú,
Java-alapú kifejezésnyelv (Expression Language).
A legfőbb feladata, hogy egyszerű, rövid szöveges kifejezésekkel
lehessen adatokat lekérni és módosítani bonyolult
Java objektum-struktúrákból (objektum-gráfokból),
anélkül, hogy hosszú Java kódokat kellene írni.

A Thymeleaf keretrendszerben az OGNL-szerű szintaxist
a Standard Expression Language biztosítja (pld. th:text, th:each)
-->

</body>
</html>