<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Könyvek Listája</title>
    <link rel="stylesheet" type="text/css" th:href="showbooks.css"/>
</head>
<body>
    <h1>Könyvek Listája</h1>

    <h2 th:if="${books.size() == 0}"> No books found! </h2>
    <table th:unless="${books.size() == 0}">
        <tr>
            <th>Id</th>
            <th>Szerző</th>
            <th>Cím</th>
            <th>Kiadás Éve:</th>
            <th></th>
            <th></th>
        </tr>
        <tr th:each="book : ${books}">
            <td th:text="${book.id}"></td>
            <td th:text="${book.author}"></td>
            <td th:text="${book.title}"></td>
            <td th:text="${book.releaseYear}"></td>
            <td>
            <form th:action="@{/redirectModifyBook}" th:method="post">
                <input type="hidden" th:value="${book.id}" name="id">
                <button type="submit">Módosítás</button>
            </form><br>
            </td>
            <td>
                <form th:action="@{/deleteBook}" th:method="post">
                    <input type="hidden" th:value="${book.id}" name="id">
                    <button type="submit">Törlés</button>
                </form><br>
            </td>
        </tr>
    </table>

    <form th:action="@{/redirectMainMenu}" th:method="post">
        <button type="submit">Visszalépés a Főmenübe</button>
    </form><br>

</body>
</html>